*{
    font-family: 'Josefin Sans', sans-serif;
}


.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-toggler{
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link{
    padding: 0;
}
.social-link{
    color: white;
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.social-link:hover{
    color: #f9ba32;
}
.social-link:active{
    color: #426e86;
}

.login-button{
    color: #2F3131;
    background: #f9ba32;
    padding-bottom: 0px;
    margin-bottom: 7px;
}

.login-button:hover{
    background: #2F3131;
    color: #f9ba32;
}

.login-button-text{
    font-size: 20px;
}



.card-img{
    max-width: 200px;
    max-height: 200px;
}

.btn-download{
    width: 100%;
}